*{
    box-sizing: border-box;
}

body{
    font-family: monospace;
    background-color: #3FA9FB;
}
#calculator_body{
    background-color: white;

    padding: 30px;
    margin: auto;
    margin-top:50px;
    width: fit-content;
    width: -moz-fit-content;
    min-width: 300px;
    border-radius: 10px;

    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-areas: 
    "dsp dsp dsp dsp"
    "cl cl mod divide"
    "g h i mul"
    "d e f minus"
    "a b c plus"
    "z z dott eq";
    gap: 10px;

}
.button{
    color: #136086;
    font-size: larger;
    font-weight: 400;
    padding: 10px;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;

    min-width: 50px;
    height: 50px;
}
.button:hover{
    
    background-color:#3fa9fb63;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.9);

    
}
.sympol_input{

background-color: #DDEDFA;
}
.number_input{
    background-color: #F5FAFF;
}
#display{
    grid-area:dsp;
    color: #136086;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 10px;
    background-color: white;
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    
}
#i0{
    grid-area:z;
}
#i1{
    grid-area:a;
}
#i2{
    grid-area:b;
}
#i3{
    grid-area:c;
}
#i4{
    grid-area:d;
}
#i5{
    grid-area:e;
}
#i6{
    grid-area:f;
}
#i7{
    grid-area:g;
}
#i8{
    grid-area:h;
}
#i9{
    grid-area:i;
}
#sum{
    grid-area: plus ;
}
#minus{
    grid-area: minus;
}
#divide{
    grid-area: divide;
}
#mult{
    grid-area: mul;
}
#dot{
    grid-area: dott;
}
#equal{
    grid-area: eq;
}
#mod{
    grid-area:mod;
}
#clear{
    grid-area:cl;
}